.container {
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex; 
}

.align-center {
    align-items: center;
}

.sr-only {
    position: absolute;
    left: -9999px;
    opacity: 0;
}