:root {
    --clr-background: #fafafb;
    --clr-white: #fff;
    --clr-cta: #2F80ED;
    --clr-upload-background: #F6F8FB;
    --clr-upload-border: #97BEF4;
    --clr-text-primary: #4F4F4F;
    --clr-text-secondary: #828282;
    --clr-text-ternary: #BDBDBD;
}